<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../../styles/styles.css">


</head>
<body>

<div class="container">
<p class="msgtxt"> <b><?php echo $message; ?> </b> </p>
	<form action="<?php	if (isset($pathformessage)) echo $pathformessage ?>" method="post" class="formForQuestion" >
		<input type="hidden" name="select" value="<?php	$tableName	?>">
		<input type="submit" class="buttonClass" value="  ОК  " >
	</form>
</div>
</body>
</html>