<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>


<div class="container">
	<div class="squareframe">
		<div>
			<i style="" class="fa fa-exclamation-circle forsign" aria-hidden="true"></i>
			 <p class="msgtxt"> <?php echo $message; ?>  </p>
		</div>
		<form style="display: block" action="<?php	if (isset($pathformessage)) echo $pathformessage ?>" method="post" class="formForQuestion" >
			<input type="hidden" name="select" value="<?php if	(isset($_POST['transferTableName'])) {	echo $_POST['transferTableName'];} else {echo $_POST['tableName'];}	?>">
			<input type="submit" class="buttonClass" value="  ОК  " >
		</form>
	</div>
</div>
</body>
</html>