
@color1: #162EE0; //#E6E6E9
@colorForActive: #1B8FF2;
@colorForFont: white;


	// Стили для значка запрета добавления ответов для анонимов

@import "font-awesome.css";

@keyframes color_change {
    from {
	color: red;
	}
    25% {
	color: #FF7CF7;
    }
    50% {
	color: #7F79FD;
    }
    75% {
	color: #1FF808;
    }
    to {
	color: #FCF906;
    }
   }	


.clrr {
	
	color: red;
	padding: auto 0;
	font-size: 50px;
	animation: color_change 15s linear alternate infinite;
}

// ______________________________________________________________________________

body {
	background-image: url('../pics/marble_1_2.jpg');
	padding: 0;
	margin: 0;
}

#marker	{
	td  {
		background: white;
		input[type="text"]{
			margin: 0;
			border: 0;
			
			:focus {
				border: 0 white;
				    outline-offset: 0;
			}
			:active {
				border: 0 white;
			}
		}
	}
}


.hideButton {
	display: none;
}



.squareframe {
	background:#E8F1FF;
	height: auto;
	width: auto;
	margin: 20px auto;
	padding: 10px;
	border-radius: 7px;
	border: 1px solid black;
	box-shadow: 0 0 7px;
	display: inline-block;
	
	.forsign {
		font-size: 35px;
		color: red;
		margin-right: 7px;
		display: inline-block;
		vertical-align: middle;
	}

	.msgtxt {
		font-size: 15px;
		font-weight: bold;
		text-align: left;
		display: inline-block;
		font-family: Arial;
	}
}

.container {
	width: 200vh;
	height: 100vh;
	
	background-image: url("pic/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	display: table-cell; 			  // Важно для выравнивания
	text-align: center;				 // Важно для выравнивания
	vertical-align: middle;			// Важно для выравнивания

	.marginx {
	margin: 10px;
}	
			}

.main	{
	margin-top: 50px;
}

	// Стили для главного меню
// ______________________________________________________________________________	
.menuwrapper {

	font-family: Arial;
	

	background: @color1;
	height: 37px;
	margin: 0;
	padding: 0;
	font-size: 0;
	position: fixed;
	top: 0;
	width: 100%;
	border: 2px solid darkblue;
	
	ul {
		margin: 0;
		
		
		li {
			font-size: 15px;
			float: left;
			display: inline-block;
			list-style-type: none;
			width: 120px;
			padding: 9px;
			color: darken(@colorForFont, 5%) ;
			text-align: center;
				&:hover {
					background: lighten(@color1, 15%);
					font-size: 16px;
					padding-top: 8px;
					padding-bottom: 8px;
					cursor: pointer;
				}
				a {
					display: inline-block;
					text-decoration: none;	
				}
		}

		.menuitem {
			border-right: 1px solid white;
			border-radius: 7px;
		}
		.hide {
			display: none;
		}


		.active {
			background: @colorForActive;
			color: @colorForFont;
			&:hover {

				background: @colorForActive;
				font-size: 15px;
			}
		}

			
	}

	.auth { 
				float: right;
			font-size: 15px;
			display: inline-block;
			padding: 7px;
			color: #FEE7FF;
			background: lighten(@color1, 20%);
			border-radius: 7px;
			margin-right: 5px;
			border: 2px solid lighten(@color1, 30%);
			position: fixed;
			right: 0;
			top: 2px;
			
			
			&:hover {
				color: #FDC734
			}

			a {
				text-decoration: none;
				color: #3EFEEE;
			}

	}

	.logged {
		&:hover {
				color: #FEE7FF;	
				cursor: default;
			}
	}

	

} 


@media (max-width:729px) {
	
	.menuwrapper {
		
		.hide {
			display: inline-block;
			font-size: 15px;
			padding: 8px;
			position: relative;
			width: 120px;
			text-align: center;
			color: white;
			background: lighten(@color1, 5%);
			border-radius: 5px;
			border: 2px solid lighten(@color1, 30%);

			.active {
					font-size: 16px;

					&:hover {
					font-size: 16px;
					height: 19px;
					}
			

			}

			&:hover .menuitem {
				
				display: list-item;
				border-radius: 0;
				border-top: 1px solid lighten(@color1, 30%);

				.menuitem:nth-child(4) {
					border-bottom: 1px solid lighten(@color1, 30%);
				}
				
				&:hover {
					padding-top: 8px;
					padding-bottom: 9px;

				}	
				
			}

			ul {
				margin-top: 9px;
				position: absolute;	
				left: -2px;
				padding: 0;
				background: @color1;
				box-sizing: border-box;
			}
		}

		ul {
			li {
				display: none;
			}
		}
	}
}

// _____________________________________________________________________________


.formForQuestion, .frameForQuestion  {
	text-align: center;
	display: inline-block;

		// Стиль кнопок

	.buttonClass {
		padding: 2px 5px ;
	}
}



.container {
	width: 200vh;
	height: 100vh;
	display: table-cell; 			  // Важно для выравнивания
	text-align: center;				 // Важно для выравнивания
	vertical-align: middle;			// Важно для выравнивания
			}


.innerframe {
	width: 100hv;
	display: inline-block;
}


// Форма авторизации
// _________________________________________________________
.form1 {
	background: #DAD4D4;
	border: 3px solid #644C4C;
	font-family: Arial;
	display: inline-block;
	padding: 10px 30px 30px;

	p {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 15px;
	}
	div {
		margin: 20px auto;
		text-align: left;
		

	}
	label {
		display: block;
		text-align: center;
		padding-bottom: 10px;
		padding-left: 5px;

	}
	input[type=text] {
		display: block;
	}

	.subm {
			text-align: center;
		}
	
	// Дополнение для формы регистрации

	.regclass {
		display: inline-block;
		padding-right: 10px;
	}
	.regclassinput {
		float: right;
	}
	
}
// __________________________________________________________



// Форматирование таблицы вопросов
// ____________________________________________________________
.outtable {
	margin: 20px auto;
	font-size: 0;
	border-collapse:collapse; 
	border: 3px solid;
	max-width: 70%;
	min-width: 50%;
table-layout: fixed;



	td, tr, th {
		font-size: 20px;
		margin:0;
		padding: 3px;
		border: 1px solid;
		
	}
	a {
		text-decoration: none;
		color: black;
	}
	.vopros {
		min-width: 300px;
		text-align: left;
	}

	
}

// Форматирование таблицы тем
// ____________________________________________________________

.forumtable {
	
	width: 100%;
	min-width: 730px;
	font-size: 0;
	background: #F2EAEA; 
	border-collapse: collapse;
	margin: 2px 0;

	td, tr, th {
		font-size: 15px;
		margin:0;
		padding: 15px;
		border: 2px solid #A0A0A0;
		
		}
	tr {
		height: 150px;
		border: 1px solid #606060;


	}
	.vopros, .otvet {
		width: 85%;
		text-align: left;
		vertical-align: top;
		border-top: none;
	}
	.vopros {
		font-weight: bold;
	}
	.nick {
		text-align: center;
		vertical-align: top;
		background: #D1BECF;
		min-width: 100px;
		
		a {
			text-decoration: none;
			color: #FFFFFF;
			font-size: 20px;
			font-weight: bold;
		}
		}
		.toptitle {
			height: 23px;
			margin: 0 2px;

		}
	.titl {
		padding: 0;
		font-size: 14px;
		text-align: right;
		padding-right: 5px;
		border-bottom: none;
		background: linear-gradient(to right, #AF81A9, #A8A6F4);
		color: #F8E3F5;
		
	}.lft {
			float: left;
			padding-left: 10px;
		} 
	.toprow {
		height: 30px;
		background: #901B91;
		color: white;

	}
	.toprowLink {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
	

}
.wrp {
	text-align: center;
}
.wrap {
		display: inline-block;
		padding: 35px 35px 10px 35px;
		border: 3px double #800770;
		background: linear-gradient(to right, #AF81A9, #A8A6F4);
		margin: 0 auto;
	}
.formaOtveta {
		display: inline-block;
	}
.maindiv {
	margin: 15px;
}

// ____________________________________________________________


// Индикаторы состояния таблиц администратора

//_____________________________________________
.indicator {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	border: 1px solid #B7B7B7;
}

.indicator_green {
	background: #18FF18;
}

.indicator_red {
	background: red;
}
//_____________________________________________

// Стили для таблицы редактирования вопроса


//_____________________________________________

.editform {

	display: inline-block;
	border: 3px double;
	background: #C1B7F6;
	padding: 15px;


.div1 {
	text-align: right;
	margin-bottom: 10px;
	
	span {
		font-weight: bold;
	}
}
.div2 {
	textarea {
		
	}
	display: block;
	margin: 0;
	border: 1px solid;
	background: #C9C9C9
	
}

.div3 {
	margin-top: 15px;
	text-align: center;
}
fieldset {
	display: inline-block;
	margin-top: 10px;

}
 }

// Стили для userstat php 

.userpropwrapper {
	display: inline-block;
	padding: 30px;
	background: #0E31A7;
	border: 7px double #F901BC;
	color: white;
	span {
		color: #35F86C;
		font-size: 20px;
	}
	.usr {
		color: yellow;
		font-size: 20px;
	}
}




.clear:after {
        content: "&nbsp;";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
}

// Стиль для выравнивания управляющих кнопок
	
.centerdistribution {
	text-align: center;
	a {
		display: inline-block;
		font-family:  Arial;
		margin: 10px 15px;
		padding: 7px;
		text-decoration: none; 
		font-weight: bold;
		border: 1px solid #6B6969;
		color: #1535F8;
		border-radius: 3px;
		box-shadow: 0 0 7px;
		font-size: 12px;
		
		background: #CACACA;
		&:hover {
			box-shadow: 0 0 2px;
		}
	}
	input[type="submit"] {
		margin: 30px 15px;

		display: inline-block;
		font-family:  Arial;
		padding: 7px;
		text-decoration: none; 
		font-weight: bold;
		border: 1px solid #6B6969;
		color: #1535F8;
		border-radius: 3px;
		box-shadow: 0 0 5px;
		font-size: 12px;
		cursor: pointer;
		
		background: #CACACA;
		&:hover {
			box-shadow: 0 0 2px;
		}
	}
}

