@import "font-awesome.css";
@keyframes color_change {
  from {
    color: red;
  }
  25% {
    color: #ff7cf7;
  }
  50% {
    color: #7f79fd;
  }
  75% {
    color: #1ff808;
  }
  to {
    color: #fcf906;
  }
}
.clrr {
  color: red;
  padding: auto 0;
  font-size: 50px;
  animation: color_change 15s linear alternate infinite;
}
body {
  background-image: url('../pics/marble_1_2.jpg');
  padding: 0;
  margin: 0;
}
#marker td {
  background: white;
}
#marker td input[type="text"] {
  margin: 0;
  border: 0;
}
#marker td input[type="text"] :focus {
  border: 0 white;
  outline-offset: 0;
}
#marker td input[type="text"] :active {
  border: 0 white;
}
.hideButton {
  display: none;
}
.squareframe {
  background: #e8f1ff;
  height: auto;
  width: auto;
  margin: 20px auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 0 0 7px;
  display: inline-block;
}
.squareframe .forsign {
  font-size: 35px;
  color: red;
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}
.squareframe .msgtxt {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  font-family: Arial;
}
.container {
  width: 200vh;
  height: 100vh;
  background-image: url("pic/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.container .marginx {
  margin: 10px;
}
.main {
  margin-top: 50px;
}
.menuwrapper {
  font-family: Arial;
  background: #162ee0;
  height: 37px;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: fixed;
  top: 0;
  width: 100%;
  border: 2px solid darkblue;
}
.menuwrapper ul {
  margin: 0;
}
.menuwrapper ul li {
  font-size: 15px;
  float: left;
  display: inline-block;
  list-style-type: none;
  width: 120px;
  padding: 9px;
  color: #f2f2f2;
  text-align: center;
}
.menuwrapper ul li:hover {
  background: #5467ee;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.menuwrapper ul li a {
  display: inline-block;
  text-decoration: none;
}
.menuwrapper ul .menuitem {
  border-right: 1px solid white;
  border-radius: 7px;
}
.menuwrapper ul .hide {
  display: none;
}
.menuwrapper ul .active {
  background: #1b8ff2;
  color: white;
}
.menuwrapper ul .active:hover {
  background: #1b8ff2;
  font-size: 15px;
}
.menuwrapper .auth {
  float: right;
  font-size: 15px;
  display: inline-block;
  padding: 7px;
  color: #fee7ff;
  background: #6b7bf1;
  border-radius: 7px;
  margin-right: 5px;
  border: 2px solid #9aa5f5;
  position: fixed;
  right: 0;
  top: 2px;
}
.menuwrapper .auth:hover {
  color: #fdc734;
}
.menuwrapper .auth a {
  text-decoration: none;
  color: #3efeee;
}
.menuwrapper .logged:hover {
  color: #fee7ff;
  cursor: default;
}
@media (max-width: 729px) {
  .menuwrapper .hide {
    display: inline-block;
    font-size: 15px;
    padding: 8px;
    position: relative;
    width: 120px;
    text-align: center;
    color: white;
    background: #263dea;
    border-radius: 5px;
    border: 2px solid #9aa5f5;
  }
  .menuwrapper .hide .active {
    font-size: 16px;
  }
  .menuwrapper .hide .active:hover {
    font-size: 16px;
    height: 19px;
  }
  .menuwrapper .hide:hover .menuitem {
    display: list-item;
    border-radius: 0;
    border-top: 1px solid #9aa5f5;
  }
  .menuwrapper .hide:hover .menuitem .menuitem:nth-child(4) {
    border-bottom: 1px solid #9aa5f5;
  }
  .menuwrapper .hide:hover .menuitem:hover {
    padding-top: 8px;
    padding-bottom: 9px;
  }
  .menuwrapper .hide ul {
    margin-top: 9px;
    position: absolute;
    left: -2px;
    padding: 0;
    background: #162ee0;
    box-sizing: border-box;
  }
  .menuwrapper ul li {
    display: none;
  }
}
.formForQuestion,
.frameForQuestion {
  text-align: center;
  display: inline-block;
}
.formForQuestion .buttonClass,
.frameForQuestion .buttonClass {
  padding: 2px 5px ;
}
.container {
  width: 200vh;
  height: 100vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.innerframe {
  width: 100hv;
  display: inline-block;
}
.form1 {
  background: #dad4d4;
  border: 3px solid #644c4c;
  font-family: Arial;
  display: inline-block;
  padding: 10px 30px 30px;
}
.form1 p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}
.form1 div {
  margin: 20px auto;
  text-align: left;
}
.form1 label {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 5px;
}
.form1 input[type=text] {
  display: block;
}
.form1 .subm {
  text-align: center;
}
.form1 .regclass {
  display: inline-block;
  padding-right: 10px;
}
.form1 .regclassinput {
  float: right;
}
.outtable {
  margin: 20px auto;
  font-size: 0;
  border-collapse: collapse;
  border: 3px solid;
  max-width: 70%;
  min-width: 50%;
  table-layout: fixed;
}
.outtable td,
.outtable tr,
.outtable th {
  font-size: 20px;
  margin: 0;
  padding: 3px;
  border: 1px solid;
}
.outtable a {
  text-decoration: none;
  color: black;
}
.outtable .vopros {
  min-width: 300px;
  text-align: left;
}
.forumtable {
  width: 100%;
  min-width: 730px;
  font-size: 0;
  background: #f2eaea;
  border-collapse: collapse;
  margin: 2px 0;
}
.forumtable td,
.forumtable tr,
.forumtable th {
  font-size: 15px;
  margin: 0;
  padding: 15px;
  border: 2px solid #a0a0a0;
}
.forumtable tr {
  height: 150px;
  border: 1px solid #606060;
}
.forumtable .vopros,
.forumtable .otvet {
  width: 85%;
  text-align: left;
  vertical-align: top;
  border-top: none;
}
.forumtable .vopros {
  font-weight: bold;
}
.forumtable .nick {
  text-align: center;
  vertical-align: top;
  background: #d1becf;
  min-width: 100px;
}
.forumtable .nick a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.forumtable .toptitle {
  height: 23px;
  margin: 0 2px;
}
.forumtable .titl {
  padding: 0;
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
  border-bottom: none;
  background: linear-gradient(to right, #af81a9, #a8a6f4);
  color: #f8e3f5;
}
.forumtable .lft {
  float: left;
  padding-left: 10px;
}
.forumtable .toprow {
  height: 30px;
  background: #901b91;
  color: white;
}
.forumtable .toprowLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.wrp {
  text-align: center;
}
.wrap {
  display: inline-block;
  padding: 35px 35px 10px 35px;
  border: 3px double #800770;
  background: linear-gradient(to right, #af81a9, #a8a6f4);
  margin: 0 auto;
}
.formaOtveta {
  display: inline-block;
}
.maindiv {
  margin: 15px;
}
.indicator {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
}
.indicator_green {
  background: #18ff18;
}
.indicator_red {
  background: red;
}
.editform {
  display: inline-block;
  border: 3px double;
  background: #c1b7f6;
  padding: 15px;
}
.editform .div1 {
  text-align: right;
  margin-bottom: 10px;
}
.editform .div1 span {
  font-weight: bold;
}
.editform .div2 {
  display: block;
  margin: 0;
  border: 1px solid;
  background: #c9c9c9;
}
.editform .div3 {
  margin-top: 15px;
  text-align: center;
}
.editform fieldset {
  display: inline-block;
  margin-top: 10px;
}
.userpropwrapper {
  display: inline-block;
  padding: 30px;
  background: #0e31a7;
  border: 7px double #f901bc;
  color: white;
}
.userpropwrapper span {
  color: #35f86c;
  font-size: 20px;
}
.userpropwrapper .usr {
  color: yellow;
  font-size: 20px;
}
.clear:after {
  content: "&nbsp;";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.centerdistribution {
  text-align: center;
}
.centerdistribution a {
  display: inline-block;
  font-family: Arial;
  margin: 10px 15px;
  padding: 7px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #6b6969;
  color: #1535f8;
  border-radius: 3px;
  box-shadow: 0 0 7px;
  font-size: 12px;
  background: #cacaca;
}
.centerdistribution a:hover {
  box-shadow: 0 0 2px;
}
.centerdistribution input[type="submit"] {
  margin: 30px 15px;
  display: inline-block;
  font-family: Arial;
  padding: 7px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #6b6969;
  color: #1535f8;
  border-radius: 3px;
  box-shadow: 0 0 5px;
  font-size: 12px;
  cursor: pointer;
  background: #cacaca;
}
.centerdistribution input[type="submit"]:hover {
  box-shadow: 0 0 2px;
}
